*, html, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.mdc-slider .mdc-slider__track--active_fill {
    border-color: red !important;
    border-color: var(--mdc-theme-primary, red);
}

